html {
  background-color: #000;
  height: 100%;
}

body {
  background-image: url(images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%
}

.navbar {
  color: #E1DB91;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,b2a874+52,e1db91+73 */
  background: #000000; /* Old browsers */
  background: -moz-linear-gradient(left,  #000000 0%, #b2a874 52%, #e1db91 73%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  #000000 0%,#b2a874 52%,#e1db91 73%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  #000000 0%,#b2a874 52%,#e1db91 73%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#e1db91',GradientType=1 ); /* IE6-9 */
}

header h1 {
  font-family: 'Geostar Fill', 'sans-serif';
}

header h1:first-letter{
  font-size: 50px;
  font-weight: bold;
  padding-left: 15px;
}

.content {
  background: rgba(0, 0, 0, 0.8);
  color: #E1DB91;
  border-radius: 2px;
  padding: 15px;
  margin-top: 15px;
}

header img {
  float: left;
  height: 90%;
  width: 50px;
  padding-top: 30px;
  padding-left: 15px;
}

.stats {
  background-color: grey;
  padding: 10px;
  border: 2px double #2c3e50;
  margin-bottom: 20px;
  border-radius: 5px;
}

table {
  font-size: 20px;
}

tr {
  text-align: center;
}

th {
  width: 20px;
  border-left: 1px solid black;
  border-right: 1px solid black;
  text-align: center;
}

.stats h2 {
  text-decoration: underline;
}

body {
  font: 14px/1.4 arial;
  /*cursor: url('http://www.rw-designer.com/cursor-view/29107.png'), default;*/
}

.imgWrap {
  position: relative;
  /*height: 200px;*/
  /*width: 257px;*/
}

.imgDescription {
  position: absolute;
  top: 0;
  bottom: 15;
  left: 0;
  right: 18;
  background: rgba(47, 106, 233, 0.38);
  color: #fff;
  font-size: 28px;

  visibility: hidden;
  opacity: 1;
  -webkit-transition: visibility opacity 0.2s;

}

.imgWrap:hover .imgDescription {
  visibility: visible;
  opacity: 1;
  cursor: url('http://www.rw-designer.com/cursor-view/59707.png'), default;
}

/*CHARATER STYLING*/

.radio {
    opacity: 0;
    position: absolute;
}

.label1 {
    background: url(/images/Charlie.jpg);
    text-indent: -999em;
    border: 10px solid white;
    width: 216px;
    height: 270px;
    display: block;
    float: left;
    margin: 10px;
}

.label2 {
    background: url(/images/blueman.jpg);
    text-indent: -999em;
    border: 10px solid white;
    width: 216px;
    height: 270px;
    display: block;
    float: left;
    margin: 10px;
}

.label3 {
    background: url(/images/Darthpiper.jpg);
    text-indent: -999em;
    border: 10px solid white;
    width: 216px;
    height: 270px;
    display: block;
    float: left;
    margin: 10px;
}

.label4 {
    background: url(/images/statue.jpg);
    text-indent: -999em;
    border: 10px solid white;
    width: 216px;
    height: 270px;
    display: block;
    float: left;
    margin: 10px;
}

.label5 {
    background: url(/images/armisen.jpg);
    text-indent: -999em;
    border: 10px solid white;
    width: 216px;
    height: 270px;
    display: block;
    float: left;
    margin: 10px;
}

.label6 {
    background: url(/images/silver.jpg);
    text-indent: -999em;
    border: 10px solid white;
    width: 216px;
    height: 270px;
    display: block;
    float: left;
    margin: 10px;
}

.label7 {
    background: url(/images/hipster.jpg);
    text-indent: -999em;
    border: 10px solid white;
    width: 216px;
    height: 270px;
    display: block;
    float: left;
    margin: 10px;
}

.label8 {
    background: url(/images/bunyan.jpg);
    text-indent: -999em;
    border: 10px solid white;
    width: 216px;
    height: 270px;
    display: block;
    float: left;
    margin: 10px;
}

.label9 {
    background: url(/images/parking.jpg);
    text-indent: -999em;
    border: 10px solid white;
    width: 216px;
    height: 270px;
    display: block;
    float: left;
    margin: 10px;
}

.label10 {
    background: url(/images/grimm.jpg);
    text-indent: -999em;
    border: 10px solid white;
    width: 216px;
    height: 270px;
    display: block;
    float: left;
    margin: 10px;
}

.label11 {
    background: url(/images/copper.jpg);
    text-indent: -999em;
    border: 10px solid white;
    width: 216px;
    height: 270px;
    display: block;
    float: left;
    margin: 10px;
}

.label12 {
    background: url(/images/damian.jpg);
    text-indent: -999em;
    border: 10px solid white;
    width: 216px;
    height: 270px;
    display: block;
    float: left;
    margin: 10px;
}

input[type="radio"]:checked + label {
    border: 10px solid orange;
}
