<!DOCTYPE html>
<html>
  <head>
    <title>Appocalypse NOW!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/app.css'>
    <link rel="shortcut icon" href="/images/nuke.png">
    <link href='https://fonts.googleapis.com/css?family=Geostar+Fill' rel='stylesheet' type='text/css'>
  </head>
  <header class="navbar">
  <img src="/images/nuclearSymbol.png"><h1>APPOCALYPSE NOW!</h1>
  </header>
  <body>
    <div class='container'>

      #parse( $template )

    </div>
  </body>

<footer>
  <div class="row">
    <div class="col-md-4">
    </div>
    #if($player)
    <div class="col-md-4">
      <div class="stats">
        <div class="row">
          <div class="col-md-4">
            <img src="/images/imageTitle.png" alt="silhoutte">
          </div>


          <div class="col-md-6">
            <h2> $player.getName()'s STATS </h2>
            <h4> Buzz Level: $player.getBuzz()</h4>

            <h4> Alertness: $player.getAlertness()</h4>

            <h4> Fullness: $player.getFullness()</h4>
          </div>
        </div>

      <div class="row">
        <div class="col-md-1">
        </div>

        <div class="col-md-11">
        <table style="width:100%">
          <tr>
            <th>Beer</th>
            <th>Nugs</th>
            <th>Coffee</th>
            <th>Donuts</th>
          </tr>
          <tr>
            <td>$player.getBeers()</td>
            <td>$player.getKindBud()</td>
            <td>$player.getCoffees()</td>
            <td>$player.getDoughnuts()</td>
          </tr>
        </table>

      </div>


      #end
    </div>
      </div>
    </div>

    <div class="col-md-4">
    </div>

  </div>
</footer>

</html>
